<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Baboom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<br>
<div class="container-fluid mb-4">
    <h1>{{test}}</h1>
    <br>
    <button class="btn btn-primary d-flex" (click)="toogleIsNewBadge()">
        <span class="material-icons">
            {{ showBadge ? 'visibility_off' : 'visibility'}}
        </span>
        <span class="ms-2">
            {{ showBadge ? 'Cacher' : 'Afficher'}} nouveau
        </span>
    </button>
</div>
<hr>
<div class="my-2">
    <div class="=row">
        <div class="col-ms-4">
            <span class="filter">Filtre actuel : </span>
            <b>{{ hotelFilter }}</b>
        </div>
        <div class="col-ms-4">
            <input type="text" class="form-control" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter = $event ">
        </div>
    </div>
</div>

<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-sm-5 mb-2 mb-sm-3 " *ngFor="let i of filteredHotels">
      <div class="card">
        <div class="card-body">
          <h5 class="p-3 mb-2 bg-success text-white">{{i.hotelName | titlecase}}</h5>
          <h4 class="card-title"></h4>
          <img [src]="i.imageUrl" [title]="i.hotelName | uppercase" class="card-img-top mb-2"/>
          <p class="card-text">{{ i.description }}</p>
          <p class="card-text">{{ i.price | currency:'EUR':'symbol':'1.2-2':'fr' }}</p>

          <span><app-star-rating></app-star-rating></span>
          <span class="badge rounded-pill text-bg-success" *ngIf="showBadge">Nouveau</span>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

