<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic HTML File</title>
</head>
<div class="card text-center" id="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Baboom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
                  <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
                </li>
              </ul>              
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>
        </div>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <footer id="footer" class="navbar bg-body-tertiary" style="background-color: rgb(142, 10, 10);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo-part">
                        <img src="assets/img/baboom.jpg" class="w-50 logo-footer">
                        <br> <br>
                        <p>36 Avenue Pierre Brossolette <br> 92240 Malakoff </p>
                    </div>
                </div>
                <div class="col-md-6 px-4">
                    <h6> À propos de Baboom</h6>
                    <p>Déclaration d’activité enregistrée sous le numéro 11921550092 auprès du préfet de la région
                        d’Ile-de-France</p>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 px-4">
                    <h6> Retrouvez-nous en ligne</h6>
                    <div class="row" style="text-align: center;">
                        <div class="col-md-6">
                        <p><a href="https://www.esic.fr/"> Ba la vous êtes déjà sur le site </a> </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <h6> Contact </h6>
                    <div class="social">
                        <p> <i class="fas fa-envelope me-3"></i> info@esic.fr</p>
                        <p><i class="fas fa-phone me-3"></i> 01 53 90 15 20</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </footer>
</div>
</html>
